@using ConnectFourLogic;

<td class="board-cell" @onclick="OnClickCallback" @onmouseover="OnMouseOverCallback">
    @if (Color != null)
    {
        <span style="color: @Color">X</span>
    }
</td>

@code {
    [Parameter]
    public string Color { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClickCallback { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnMouseOverCallback { get; set; }
}
