@using ConnectFourLogic;

<td class="board-cell @(IsHighlighted ? "highlight" : "")" @onclick="OnClickCallback" @onmouseover="OnMouseOverCallback">
    <div>
        @if (Color != null)
        {
            <span style="color: @Color">X</span>
        }
    </div>
</td>

@code {
    [Parameter]
    public string Color { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClickCallback { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnMouseOverCallback { get; set; }

    [Parameter]
    public bool IsHighlighted { get; set; }
}
