@using ConnectFourLogic;

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table class="table" id="my-table">
                <tbody>
                    @for (int row = 0; row < Game.GetRowLength(); row++)
                    {
                        <tr>
                            @for (int column = 0; column < Game.GetColumnLength(); column++)
                            {
                                var currentColumn = column;
                                <BoardCellView color="@Game.GetDiscColorAtCell(column, row)"
                                               OnClickCallback="() => HandleClick(currentColumn)"
                                               OnMouseOverCallback="() => HandleMouseOver(currentColumn)" />
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public IGame Game { get; set; }

    private void HandleClick(int column)
    {
        Game.DropDisc(column);
    }

    private void HandleMouseOver(int column)
    {

    }
}
