@using ConnectFourLogic;

<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <table class="table table-bordered">
                <tbody>
                    @for (int column = 0; column < Board.Cells.GetLength(0); column++)
                    {
                        <tr>
                            @for (int row = 0; row < Board.Cells.GetLength(1); row++)
                            {
                                <td>@column:@row - @Board.Cells[column, row]</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public GameBoard Board { get; set; }
}
